# Dependencies
node_modules/
package-lock.json

# Binary Office & Spreadsheets
*.xlsx
*.xls

# Prototypes & Scratch Folders
Practice/
scratch/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE Files
.vscode/
.idea/
*.swp
*.swo
